* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    background-color: #fff;
}

#container {
    display: grid;
    grid-template-columns:auto;
    grid-auto-rows: auto; 
    grid-template-areas: 
    "header header header"
    "main main side"
    "main main side";
    text-align: center;
    width: 18%;
    max-width: 400%;
    margin: auto;
    
    border-radius: 40px;
    box-shadow: 0 2px 3px #d8724a;
}

.pantalla {
    width: 100%;
    padding: 15px 28px;
    font-size: 29px;
    text-align: left;
    color: #4c455a;
    background: #fff;
    overflow: hidden;
    border: none;
}

input[type=submit], [type=reset], [type=button] {
    font-size: 16px;
    border: none;
    color: #fff;
    font-size: 12px;
    min-width: 30%;
    margin: 4px 2px;
    cursor: pointer;
    background: none; 

}

.boton:hover{
    background-color:#d8724a ;
}

.titulo {
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
    margin-bottom: 10px;
    
}

.botonop:hover {
    background-color: #d8724a;
}

.val {
    width: 75%;
    text-align: right;
    margin: auto;
    position: relative;
    top: 50px;
    right: 10px;
   
}

.botonE:hover {
    background-color: #d8724a;
   
}
.nav-control {
    grid-area: side;
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 12px;
}

.header-control {
grid-area: header; 
}

.main-control {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    grid-area: main;
} 