* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100%;
    background: (180deg, #feead2 #fff8ee);
    width: 800px;
    height: 600px;
}

#container {
    display: grid;
    grid-template-columns:100px 100px 50px; 
    grid-template-areas: 
    "header header header"
    "main main side"
    "main main side";
    text-align: center;
    justify-content: center;

}

.pantalla {

    width: 100%;
    border: none;
    padding: 15px 10px;
    font-size: 25px;
    text-align: left;
    color: #4c455a;
    background: #fff;
    box-shadow: 0 2px 3px #d8724a;
    border-radius: 15px 15px 0 0;
    
}

input[type=submit], [type=reset], [type=button] {
    font-size: 16px;
    border: none;
    color: #fff;
    font-size: 12px;
    min-width: 30%;
    margin: 4px 2px;
    cursor: pointer;
    background: none;

}

.boton:hover{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 14px;
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: none;
    font-weight: none;
    text-align: center;
    
}

.botonop:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 14px;
}

.val {
    width: 75%;
    text-align: right;
    margin: auto;
    position: relative;
    top: 50px;
    right: 10px;
   
}

.botonE:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 14px;
   
}
.nav-control {
    grid-area: side;
    background: linear-gradient(135deg, #fcaf3b, #f25c2a);
    box-shadow: 0 2px 3px #d8724a;
}

.header-control {
grid-area: header; 
}

.main-control {
    grid-area: main;
  background:linear-gradient(135deg, #fcaf3b, #f25c2a);
  box-shadow: 0 2px 3px #d8724a;

} 